body {
  background-color: black;
}
.continer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-box-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gauge-container {
  width: 250px;
  height: 150px;
  display: block;
  padding: 10px;
}

.dialClass {
  stroke: #334455;
  stroke-width: 8;
}

.valueDialClass {
  stroke-width: 10;
}

.valueClass {
  fill: rgb(47, 227, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
}
